.nav-wrapper {
    background: linear-gradient(to bottom, rgba($color-black-light, 0.4) 20%, rgba($color-black, 0.4) 60%);
    backface-visibility: hidden;
    font-family: 'Roboto', sans-serif;
    padding-left: 2rem;
    box-shadow: 1px 4px 4px $color-black;
    text-shadow: 2px 1px 6px $color-black-light-1;
    font-weight: 600;
    text-transform: uppercase;
    div {
        background-color: none;
    }
    span {
        font-size: 18px;
    }
    .dropdown-content {
        background: $color-black;
        &:hover {
            filter: hue-rotate(10deg) contrast(0.8);
        }
        a {
            font-size: 12px;
            background: $color-black-light-1;
        }
    }
}